* {
    font-family: 'Raleway', sans-serif;
    list-style: none;
    
}

body {
    max-width: 1400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0;  
}

/* Header */

nav {    
    width: auto;
    margin: -8px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
    padding: 0;
    font-size: 0;
}

#nav_bouton {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 0;
}
 
.bouton {
    display: flex;
    align-items: center;
    height: 115px;
    width: auto;
    margin: 0 0 0 15px;
    padding: 0 25px 0 25px;
    font-weight: 500;
    font-size: 16px;
    color: black;    
    text-decoration: none;
}

.bouton:hover {
    box-shadow: 0 2px 0 #0065FC inset; 
    color: #0065FC;
}

/* Main_Section_Recherche*/

#recherche {    
    display: flex;
    flex-direction: column;    
    width: auto;    
    margin: 0 30px 0 30px;    
}

.titre_section {    
    margin: 11px 0 0 0;    
    font-weight: 700;
    font-size: 22px;    
    
}

#recherche_p {
    margin: 15px 0 0 0;    
    font-weight: 400;
    font-size: 16px;
}

#recherche_form {    
    display: grid;
    grid-template-columns: 50px 235px 132px;
    grid-template-rows: 50px;
    align-items: center;
    margin: 25px 0 0 0;
}

#form_i {
    background-color: #f2f2f2;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid #f2f2f2;
    border-radius: 15px 0 0 15px;
}

#form_barre {
    height: 51px;
    width: 235px;
    border: 1px solid #f2f2f2;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    padding-left: 17px;
}

#form_barre::placeholder {
    color: grey;
}

#form_bouton_desktop {
    width: 132px;
    height: 51px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-weight: 700;
    font-size: 18px;

}

button[id^="form_bouton"]:hover {
    box-shadow: 0px 0px 14px 1px #000000 inset;
    transition: ease 0.3s;
}

#form_bouton_mobile {
    display: none;
    width: 51px;
    height: 51px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    color: white;
    font-size: 16px;
}    

#form_i{
    height: 49px;
    width: 50px;
    text-align: center;
   
}

#recherche_filtres {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding: 15px 0 0 0 ;
    column-gap: 30px;
}

#recherche_filtres_boutons{
    display: flex;
    margin: 0 2% 0 0;
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 17px;
    gap: 3%;
}

.h3_titre {
    font-weight: 700;
    font-size: 18px;
    margin: 30px 0 0 0;
    width: auto;
}

.filtres_bouton {
    display: flex;
    align-items: center;
    margin: 15px 0 0 0;
    width: fit-content;
    color: black;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px;
    padding: 0px 20px 0px 0px;
    text-decoration: none;
}

.filtres_bouton i {
    color: #0065FC;
    margin: 0px 10px 0px 20px;
}

.filtres_bouton:hover {
    background-color: #DEEBFF;
}

#recherche_infos {
    display: grid;
    grid-template-columns: 21px auto;
    grid-template-rows: auto;
    gap: 2%;     
    margin: 38px 0 38px 0;
    height: auto;
}

#infos_bouton {
    color: #0065FC;
    height: 20px;
    width: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    background-color: white;
    text-align: center;
    
}
#infos_bouton:hover {
    background-color: #DEEBFF;
}

#infos {
    width: auto;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

/*Main_article*/

#Hébergements {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 30px 50px 30px;
    padding: 0 ;
    column-gap: 3%;
    font-size: 0;
}

#hebergements_marseille {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    height: 626px;
    width: 65.67%;
    margin: 0;
    border-radius: 20px;
    font-size: 0;
}

.hebergements_titre {
    font-weight: 700;
    font-size: 22px;
    margin: 35px 70px 0 40px;
}

#hebergement_liste {
    display: grid;
    justify-content: space-between;
    row-gap: 30px;
    column-gap: 3.3%;
    grid-template-columns: 30.8% 30.8% 30.8%;
    grid-template-rows: 200px 200px;
    margin: 23px 4.5% 0 4.5%;      
    padding: 0;
    font-size: 0;
}

article[id^="hebergement_card"]{
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 0 6px 2px #d9d9d9;
    margin: 0;
}

article[id^="hebergement_card"]:hover {
    box-shadow: 0 0 8px 1px #919191;
}

.h_card_pic {
    object-fit: cover;
    height: 110px;
    width: auto;
    margin: 0;
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

.h_card_banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45px;
    width: auto;
}


.h_card_b_titre {
    padding: 0;
    width: auto;
    height: auto;
    font-weight: 700;
    font-size: 16px;
    margin: 2px 5px 2px 16px;

}

.h_card_b_p {
    margin-bottom: 0;
    padding: 0;
    margin: 0 0 0 16px;
    font-weight: 400;
    font-size: 14px;
}

.h_card_b_p strong{
    font-weight: 600;
}

#hebergement_liste .stars {
    color: #0065FC;
    position: absolute;
    width: auto;
    display: flex;
    align-items: center;
    margin: 182px 0 11px 16px;
    font-size: 16px;
}

.stars i:last-child {
    color: #f2f2f2;
}

.card_click {
    display: block;
    z-index: 1;
}

.card_click::after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content:'';
}

#hebergement_plus a{
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: black;
}

#hebergement_plus {
    margin: 40px 0 0 44px;
}

/*Main_aside*/

#populaires {
    display: flex;
    flex-direction: column;    
    background-color: #f2f2f2;
    height: 626px;
    width: 31.34%;
    border-radius: 20px;
}

#populaire_head {    
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

#populaire_chart {    
    align-self: flex-end;
    position: absolute;
    color: #0065FC;  
    font-size: 18px;
    margin: 35px 42px 0 auto;
}

.populaires_liste {    
    grid-template-rows: 145px 145px 145px;
    grid-template-columns: auto;
    display: grid;
    align-content: space-between;
    margin: 25px 9% 34px 9%;
    height: 500px;
    width: auto;
}

article[id^="populaire_card"]{ 
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: row;    
    height: 145px;
    width: auto;
    border-radius: 20px;
    box-shadow: 0 0 6px 2px #d9d9d9;
}

.p_card_pic {
    object-fit: cover;
    height: 135px;
    width: 37%;
    border: 5px solid white;
    border-radius: 20px 0 0 20px;        
}

.p_card_banner {
    display: flex;
    width: auto;
    flex-direction: column;
    padding: 0px 5px 9px 10px;
}

.p_card_b_titre{
    color: black;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 10px 5px 0px;
}

.p_card_b_p {
    padding: 0;
    margin-right: 10px;
    font-weight: 400;
    font-size: 14px;
}

.populaires_liste .stars {
    background-color: white;
    position: absolute;
    color: #0065FC;
    margin: 120px 0 0px 0px;
    height: 12px;
    display: flex;
    align-items: center;
    font-size: 16px;
}


article[id^="populaire_card"]:hover {
    box-shadow: 0 0 8px 1px #919191;
}

/*Main_Activités*/ 

#Activités {
    display: flex;
    flex-direction: column;    
    margin: 0 30px 0 30px;
}

.activites_liste { 
    display: flex;
    gap: 3.68%;
    width: 100%;
    max-height: 475px;
    height: auto;
    padding: 0;
}

li[id^="activites_card"]{
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    aspect-ratio: 1 / 1.28;
    height: auto;
    width: 22.24%;
    border-radius: 20px;
    box-shadow: 0 0 6px 2px #d9d9d9;
    margin-top: 19px;
}

.activites_liste .card_pic {
    position: relative;
    object-fit: cover;
    height: 100%;
    max-height: 389px;
    max-width: 302px;
    border-radius: 20px 20px 0 0;        
}

.activites_liste .card_b_titre{
    color: black;        
    font-weight: 700;
    font-size: 16px;
    margin: 20px 10px 21px 19px;
    display: flex;
    width: auto;
    height: 3.68%;
    align-items: center;
}

li[id^="activites_card"]:hover {
    box-shadow: 0 0 8px 1px #919191;
}


/*Footer*/

footer {
    background-color: #f2f2f2;
    margin: 60px 30px 0 30px;
    height: 225px;
    width: auto;
    padding: 20px 40px 0 40px;
}

#footer_liste {
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    width: auto;
    padding: 0;
}

li[class^="footer_bloc"] {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.bloc_liens {
    width: 200px;
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
    margin: 12px 0 0 0;
}

/* Medias queries */

@media screen and (max-width: 992px)
{
    #Hébergements{
        flex-direction: column;
        margin: 0 30px 0 30px;
        row-gap: 50px;
    }

    #hebergements_marseille {
        width: 100%;
    }

    #populaires {
        height: 278px;
        width: 100%;
    }

    .populaires_liste {
        grid-template-rows: auto;
        grid-template-columns: 31.2% 31.2% 31.2%;
        width: auto;
        justify-content: space-between;
        margin: 25px 4.5% 34px 4.5%;
    }

    .p_card_b_titre {
        font-size: 14px;
    }

    .p_card_b_p {
        font-size: 13px;
    }
}

@media screen and (max-width: 768px)
{
    nav {
        flex-direction: column;
        width: 100%;
        height: 130px;
        margin: -8px 0 20px 0;
        padding: 0;
    }

    #nav_logo {
        margin: 21px 0 0 0;
    }

    #nav_bouton {    
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }
     
    .bouton {
        width: auto;
        height: 68px;
        margin: 0;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .bouton:hover {
        box-shadow: 0 -3px 0 #0065FC inset; 
        color: #0065FC;
    }

    #recherche {
        margin: 0 20px 0 20px 
    }

    #recherche_form {
        grid-template-columns: 50px 235px 50px;
    }

    #form_bouton_desktop {
        display: none;
    }

    #form_bouton_mobile {
        display: block;
    }

    #recherche_filtres {
        margin-top: 0;
        flex-direction: column;
        padding: 10px 0 0 0 ;
    }

    #recherche_filtres_boutons {
        margin: 0;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: 48.5% 48.5%;
        grid-template-rows: auto auto;
    }

    .filtres_bouton {
        width: auto;
        font-size: small;
    }

    #Hébergements{
        flex-direction: column-reverse;
        margin: 0 0 0 0;
        row-gap: 0;
    }

    .hebergements_titre {
        margin: 30px 50px 20px 4.5%;
    }

    #populaires {
        height: 580px;
        border-radius: 0;
    }

    #populaire_chart {
        margin: 30px 25px 0 0;
    }

    .populaires_liste {
        grid-template-rows: 31.2% 31.2% 31.2%;
        grid-template-columns: 100%;
        width: auto;
        justify-content: space-between;
        margin: 5px 4.5% 34px 4.5%;
    }

    #hebergements_marseille {
        height: auto;
        border-radius: 0;
        background-color: white;
        
    }
    
    #hebergement_liste { 
        grid-template-columns: 100%;
        grid-template-rows: 200px 200px 200px 200px 200px 200px;
        height: 1300px;
        row-gap: 12px;
        margin-top: 5px;
    }

    #hebergement_plus {
        display: none;
    }


    #Activités {
        height: 950px;
        margin: 30px 4.5% 0 4.5%;
    }

    .activites_liste {
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
        height: 950px;
        gap: 24px;
    }

    .activites_liste .card_pic {
        height: 134px;
        width: 100%;
        max-width: none;
    }

    li[id^="activites_card"]{
        width: 100%;
        height: 186px;
        margin: 0;
    }

    footer {
        height: 501px;
        width: auto;
        padding: 5px 30px 0px 30px;
        margin: 0;
    }

    #footer_liste {
        flex-direction: column;
        justify-content: space-between;
        height: 410px;
        width: auto;

    }
    
}